<div class="row">
  <div class="col-sm-8">
    <h1>{{post.title}}</h1>
    <h5><em>{{post.date}}</em></h5>
    <p>{{post.body}}</p>
    <p><em>Posted under <strong>{{post.category}}</strong></em></p>
  </div>
  <div class="col-sm-4">

    <img src="{{post.image}}" alt="{{post.title}}" />
  </div>
  <button {{action 'deletePost' post}}>Delete this post</button>
</div>
