<h2>{{post.title}}</h2>

{{post-detail post=model.posts deletePost="deletePost"}}

{{update-post post=model.posts updatePost="updatePost"}}

{{add-comment comment=model.comments post=model.posts saveComment="saveComment"}}

{{comment-tile comment=model.comments post=model.posts delete="deleteComment"}}
